@import "bootstrap-sprockets";
@import "bootstrap";
@import "sessions";
@import "users";

.margin { margin: 1px; }

.alert-container { position: absolute; bottom: 50px; right: 50px; }
.alert-container .alert { position: relative; z-index: 999999; right: 50px; width: 350px; padding: 8px 35px 8px 15px; }

.form-sm {
  max-width: 330px;
  padding: 15px;
  margin-top: 50px !important;
  margin: 0 auto;
}

.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}